body {
	margin: 0;
	display: grid;
	grid-template-areas: 
	'top top top'
	'sidea content sideb'
	'footer footer footer';
	grid-template-columns: 1fr 10fr 1fr;
}
#page-top {
	grid-area: top;
	
}
.title-straight {
	text-align: center;
}

#page-content {
	grid-area: content;
}

.grid {
	

	display: grid;
	place-items: center;
	gap: 1rem;

	/* The fact is that it only takes these two lines of code to do a nice grid makes me want to vommit joy */
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));

}

.card {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	background-color: lightgray;
	width: 320px;
}

#page-footer {
	grid-area:footer;
}



.card:hover {
	scale: 1.05;
}

.card-image{
	width: 240px;
}

